/* Write your CSS here */
.match-card-container {
  background-color: black;
  height: 29vh;
  width: 38vw;
  border-radius: 7px;
  border-width: 0px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}
.team-logo {
  height: 60px;
  width: 60px;
}
.team {
  font-family: bree serif;
  color: #ffffff;
  font-weight: bold;
  font-size: 20px;
}
.result {
  font-family: bree serif;
  color: #ffffff;
  font-weight: bold;
  font-size: 20px;
}
.status {
  font-family: bree serif;
  font-weight: bold;
  font-size: 30px;
}
.match-won {
  color: #18ed66;
}
.match-lost {
  color: #e31a1a;
}
