/* Write your CSS here */
.bg-container {
  background-image: linear-gradient(to bottom, #d91c1f, #a4261d, #1e293b);
  background-size: cover;
  height: 100vh;
  overflow-y: auto;
}
.team-match-container {
  display: flex;
  flex-direction: column;
  padding: 40px;
}
.team-banner {
  height: 30vh;
  background-size: cover;
  margin-bottom: 20px;
}
.button {
  background-color: blue;
  border-width: 0px;
  border-radius: 6px;
  height: 45px;
  width: 140px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  color: #ffffff;
  font-weight: 500;
  margin: 20px;
}
